body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 20px;
    color: #f409f0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #06f722;
    border-radius: 4px;
  }
  
  button {
    background: #ee050d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #050506;
  }
  
  #results {
    margin-top: 20px;
    padding: 10px;
    background: #077aed;
    border-radius: 4px;
  }
  
  #solution {
    color: #007BFF;
  }
  